body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background-color: #fafbfc;
}

header {
    margin: 60px 0;
    color: #383e43;
}

a {
    text-decoration: none;
    color: #0366d6;
}

.username-form {
    margin: 40px 0 70px;
}

.username-form input {
    margin: 0 12px;
    border-radius: 3px;
}

.username-form button {
    color: #0366d6;
    border-radius: 5px;
    cursor: pointer;
}

.username-form button:hover {
    background-color: #0366d6;
    border-color: #0366d6;
    color: #ffffff;
}

.username-form label, .username-form input, .username-form button {
    font-size: 1.2em;
}

.username-form input, .username-form button {
    font-size: 1.2em;
    border: 1px solid #d1d2d3;
    padding: 6px 12px;
    background-color: #ffffff;
}

.output {
    border: 1px solid #d1d2d3;
    border-radius: 3px;
    padding: 25px;
    display: inline-block;
    background-color: #ffffff;
}

.error-text {
    color: #d73a49;
    margin: 0;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.name-span, .login-span, .bio-span {
    display: block;
}

.name-span {
    font-size: 2em;
}

.login-span {
    font-size: 1.4em;
}

.bio-span {
    max-width: 280px;
    margin: 25px auto;
    word-wrap: break-word;
}

.info-list {
    list-style: none;
    padding: 0;
    margin: 25px 0 0;
}

.info-list li {
    margin: 4px;
}

.info-list label {
    font-weight: bold;
}

.icon {
    width: 16px;
    vertical-align: text-bottom;
    margin: 0 5px 2px;
    fill: #6a737d;
}
